<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz//thymeleaf/layout"
      layout:decorate="~{layout}">
<body class="d-flex flex-column h-100 bg-light">
<main class="flex-shrink-0">
  <!-- Projects Section-->
  <section layout:fragment="body" class="py-5">
    <div class="container">
      <form role="form"
            method="post"
            th:action="@{/dishes/{dish_id}/edit(dish_id=${dish_id})}"
            th:object="${dish}">
        <div class="form-group">
          <label for="name">Название блюда</label>
          <input type="text"
                 class="form-control"
                 id="name"
                 name="name"
                 th:field="*{name}"
                 placeholder="Название блюда">
          <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></p>
        </div>
        <div class="form-group">
          <label for="price">Цена блюда</label>
          <input type="number"
                 class="form-control"
                 id="price"
                 name="price"
                 th:field="*{price}"
                 placeholder="Цена блюда">
                    <p th:if="${#fields.hasErrors('price')}" class="text-danger" th:errors="*{price}"></p>
        </div>
        <div class="form-group">
          <label for="description">Описание блюда</label>
          <textarea
                  type="text"
                  class="form-control"
                  id="description"
                  name="description"
                  rows="3"
                  th:field="*{description}"
                  placeholder="Описание блюда">
          </textarea>
          <p th:if="${#fields.hasErrors('description')}" class="text-danger" th:errors="*{description}"></p>
        </div>
        <div class="form-group mb-3">
          <label for="dish_imgurl">Url фото блюда</label>
          <input type="text"
                 class="form-control"
                 id="dish_imgurl"
                 name="dish_imgurl"
                 th:field="*{dish_imgurl}"
                 placeholder="Ссылка на фото">
        </div>
        <button type="submit" class="btn btn-primary">Обновить блюдо</button>
      </form>
    </div>
  </section>
</main>
</body>
</html>