<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz//thymeleaf/layout"
      layout:decorate="~{layout}">
<body class="d-flex flex-column h-100 bg-light">
<main class="flex-shrink-0">
  <!-- Projects Section-->
  <section layout:fragment="body" class="py-5">
    <div class="container">
      <form role="form"
            method="post"
            th:action="@{/restaurants/{restaurant_id}/edit(restaurant_id=${restaurant.id})}"
            th:object="${restaurant}">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
          <label for="restaurant_name">Название ресторана</label>
          <input type="text"
                 class="form-control"
                 id="restaurant_name"
                 name="restaurant_name"
                 th:field="*{restaurant_name}"
                 placeholder="Имя ресторана">
          <p th:if="${#fields.hasErrors('restaurant_name')}" class="text-danger" th:errors="*{restaurant_name}"></p>
        </div>
        <div class="form-group">
          <label for="restaurant_address">Адрес</label>
          <input type="text"
                 class="form-control"
                 id="restaurant_address"
                 name="restaurant_address"
                 th:field="*{restaurant_address}"
                 placeholder="Адрес">
          <p th:if="${#fields.hasErrors('restaurant_address')}" class="text-danger" th:errors="*{restaurant_address}"></p>
        </div>
        <div class="form-group">
          <label for="restaurant_site">Сайт ресторана</label>
          <input type="text"
                 class="form-control"
                 id="restaurant_site"
                 name="restaurant_site"
                 th:field="*{restaurant_site}"
                 placeholder="Сайт">
          <p th:if="${#fields.hasErrors('restaurant_site')}" class="text-danger" th:errors="*{restaurant_site}"></p>
        </div>
        <div class="form-group">
          <label for="restaurant_phone">Телефон ресторана</label>
          <input type="text"
                 class="form-control"
                 id="restaurant_phone"
                 name="restaurant_phone"
                 th:field="*{restaurant_phone}"
                 placeholder="+333 33 333-33-33">
          <p th:if="${#fields.hasErrors('restaurant_phone')}" class="text-danger" th:errors="*{restaurant_phone}"></p>
        </div>
        <div class="form-group mb-3">
          <label for="restaurant_imgurl">Url фото ресторана</label>
          <input type="text"
                 class="form-control"
                 id="restaurant_imgurl"
                 name="restaurant_imgurl"
                 th:field="*{restaurant_imgurl}"
                 placeholder="Ссылка на фото">
        </div>
        <button type="submit" class="btn btn-primary">Обновить ресторан</button>
      </form>
    </div>
  </section>
</main>
</body>
</html>