<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz//thymeleaf/layout"
      layout:decorate="~{layout}">
<body class="d-flex flex-column h-100 bg-light">
<main class="flex-shrink-0">
    <!-- Projects Section-->
    <section layout:fragment="body" class="py-5">
        <div class="container px-5 mb-5">
            <div class="text-center mb-5">
                <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline my-3">Отзывы</span></h1>
            </div>
            <div class="owl-carousel owl-theme">
                <div th:each="review :${reviews}" class="owl-item mb-4">
                    <!-- Project Card 1-->
                    <div class="card d-flex flex-column align-items-center">
                        <div class="d-flex justify-content-center small text-warning my-3">
                            <div th:each="iteration : ${#numbers.sequence(1, review.rating)}">
                                <div class="bi-star-fill"></div>
                            </div>
                        </div>
                        <div class="advantages mb-2 font-weight-bold col-8 text-left"
                             th:text="'Ресторан: ' + ${review.restaurant.restaurant_name}"></div>
                        <div class="advantages mb-2 font-weight-bold col-8 text-left">Достоинства:</div>
                        <div class="advantages mb-2 text-justify col-8"
                             th:text="${review.advantages}"></div>
                        <div class="disadvantages mb-2 font-weight-bold col-8 text-left">Недостатки:</div>
                        <div class="disadvantages mb-2 text-justify col-8"
                             th:text="${review.disadvantages}"></div>
                        <hr class="col-8 my-2">
                        <div class="d-flex flex-row profile pt-2 mt-auto">
                            <img th:src="${review.created_by.avatarImg}" alt="" class="rounded-circle">
                            <div class="d-flex flex-column pl-2 col-8">
                                <div class="name">
                                            <span th:text="'Написан: ' + ${review.created_by.firstname + ' ' + review.created_by.surname}"
                                                  class="mr-1"></span>
                                </div>
                                <p th:text="${review.created_by.email}" class="text-muted designation"></p>
                            </div>
                        </div>
                        <hr class="col-8 my-2">
                        <a class="btn btn-outline-dark mt-auto col-8 my-2"
                           th:href="@{/reviews/{review_id}(review_id=${review.id})}">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>